@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');



/* Variables de colores */
:root {
    --color-primary: #1e90ff; 
    --color-secondary: #ffd700; 
    --color-background: #3c11d8;
    --color-text: #333; 
    --color-white: #fff; 
    --color-link-hover: #ffd700; 
    --color-rosada: rgb(210, 17, 146);
    --color-negro: #000; 
}

/* Contenedor principal */
.Primerafila {
    display: flex; /* contenedor flexible para una distribucion dinamica */
    justify-content: space-between;
    background-color: var(--color-rosada);/* el fondo */
    color: var(--color-white);/* color texto  */
    padding: 10px;/* Espacio interno */
    border-bottom: 5px solid var(--color-primary);
}

.main-nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: var(--color-negro);
}

.main-nav a {
    color: var(--color-white);
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: var(--color-link-hover);
}

.content {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/fondo.jpg);
    flex: 1;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: var(--color-white);
    font-size: 16px;
    line-height: 1.6;
    border-bottom: 5px solid var(--color-primary);
}

.left-column {
    flex-shrink: 0;
    width: 30%;
    margin-right: 20px;
}

.fotodeperfil img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

/*  PARTE DE  PROYECTO  */
.contentproyecto {
    display: flex;
    padding: 20px;
}

/* Estilo para la parte izquierda */
.proyecto1 {
    width: 25%; /* Ancho para la parte izquierda */
    margin: 20px; /* Margen exterior */
    padding: 20px; /* Espacio interno */
    background-color: #1A1A1A; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    color: white; /* Color del texto */
    border: 2px solid #ffd700; /* Borde sólido con color amarillo */
}

/* Estilo para la parte izquierda */
.proyecto1 {
    width: 25%; /* Ancho para la parte izquierda */
    margin: 20px; /* Margen exterior */
    padding: 20px; /* Espacio interno */
    background-color: var(--color-text); /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    color: var(--color-white); /* Color del texto */
    border: 2px solid #ffd700; /* Borde sólido con color amarillo */
}
/* Estilo para la parte derecha */
.Detalle {
    width: 70%; /* Ancho para la parte derecha */
    height: 400px; /* Altura del elemento */
    margin: 20px; /* Margen exterior */
    padding: 20px; /* Espacio interno */
    background-image: url('../img/w2.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* La imagen cubre todo el div */
    background-position: center; /* La imagen se posiciona centrada */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #ffd700; /* Borde sólido con color amarillo */
    color:var(--color-negro);
}

/* quienessomos */
.content2{
    padding: 20px;
    background-image: url('../img/s2.png'); /* URL de la imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.content2 h2{
    font-size: 24px;/*tamaño de fuente para titulo principal*/
    color: var (var(--color-negro)); /* COLOR DEL TITULO*/
    margin-top: 10px; /* eSPACIO inferior*/



}
.content2 p{
    font-size: 16px; /*tamaño de fuente*/
    line-height: 1.6;
    color: var(--color-negro); /* Color del texto */


    margin-bottom: 20px;
}

#historia, #oferta, #vision-mision, #compromiso {
    margin-bottom: 40px; /* Agrega espacio entre cada sección */
    border-bottom: 1px solid var(--color-secondary); /* Línea divisoria entre secciones */
}


.contacto {
    background-image: url("../img/evento2.jpg"); /* Imagen de fondo */
    background-size: cover; /* La imagen cubre todo el contenedor */
    display: flex;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 20px; /* Espacio interno */
    color: var(--color-negro); /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
}

.contacto form {
    width: 100%; /* Ancho del formulario al 100% del contenedor */
    max-width: 400px; /* Ancho máximo del formulario */
    padding: 30px; /* Espacio interno */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
    border-radius: 5px; /* Bordes redondeados */
    display: flex; /* Utiliza flexbox para el diseño */
    flex-direction: column; /* Apila los elementos uno encima del otro */
}

.contacto form label {
    margin-bottom: 10px; /* Espacio entre etiquetas */
    color: var(--color-negro); /* Color del texto */
}

.contacto form input,
.contacto form textarea,
.contacto form select {
    width: 100%; /* Ancho al 100% del contenedor */
    padding: 10px; /* Espacio interno */
    margin-bottom: 15px; /* Espacio entre campos */
    border: 1px solid var(--color-primary); /* Borde */
    border-radius: 5px; /* Bordes redondeados */
}

.contacto form input[type="radio"] {
    margin-right: 10px; /* Espacio entre los botones de radio */
}

.contacto form .motivos {
    display: flex; /* Utiliza flexbox para los motivos */
    flex-wrap: wrap; /* Permite que los motivos se envuelvan a la siguiente línea */
}

.contacto form .motivos label {
    margin-right: 15px; /* Espacio entre los motivos */
}

.contacto form input[type="submit"] {
    background-color: var(--color-primary); /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 12px 20px; /* Espacio interno */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cursor de puntero al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

.contacto form input[type="submit"]:hover {
    background-color: var(--color-primary-dark); /* Color de fondo del botón al pasar el mouse */
}


/* Estilos para el footer */
.footer {
    background-color: var(--color-rosada);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
}
.icon1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.icon1 i {
    font-size: 20px; /* Ajusta el tamaño del ícono  */
    margin-right: 20px;  /* Ajusta la distancia de los iconos  */
}



.footer-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-nav-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-nav-list li {
    margin-bottom: 10px;
    display: flex; /* Cambia la visualización a bloque */
}

.footer-nav-list li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-nav-list li a:hover {
    color: var(--color-negro);
}

.nav-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}
